.feedback {
    background-color : #4F77B2;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #4F77B2;
    opacity: .9;
  }
  
  #mybutton {
    position: fixed;
    right: 15px;
    bottom: 10px;
  }