
.fix-top-mobile {
    margin-top: 0px;
}

.main-heading {
    font-family: Georgia, sans-serif;
    font-weight: normal;
}

@media screen and (min-width: 992px) {
    .main-heading {
    font-size: 2.95238rem;
    line-height: 1.0625;
}
}

@media screen and (max-width: 992px) {
    .main-heading {
    font-size: 1.4rem;
    line-height: 1.625;
}
}

@media screen and (max-width: 992px) {
    .main-heading {
    margin-top: -10px;
}
}


@media screen and (max-width: 600px) {
    .fix-top-mobile {
      margin-top: -30px!important;
      padding: -20px!important;
    }
  }

.image-wrapper img {
    width: 100%!important;
    /* margin: -50px; */
    margin: auto 0!important;
    padding: auto 0!important;
    /* padding-left: -50px!important; */
}
.no-margin img {
    width: 100%!important;
    height: auto;
    /* margin: -30px; */
    margin: auto 0!important;
    padding: auto 0!important;
    /* padding-left: -50px!important; */
}
.authors {
    color: grey;
    font-size: 1.2em;
}

@media screen and (max-width: 992px) {
    .authors {
    font-size: 1em;
}
}

.chart-wrapper {
    width: 100%;
    max-width: 1200px;
}

/* USED FROM DECADE PAGE */
.flex-wrapper-center {
    display: flex;
    justify-content: center;
}

.content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1240px;
}

.content-wrapper-donate {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.content-wrapper p {
   line-height: 1.6 re;
}




.top-heading {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    max-width: 60%;
}

.flex-wrapper-center {
    display: flex;
    justify-content: center;
}



.headings {
    text-align: center;
}

.line2 {
    font-size: 1.6rem!important;
    display: block;
    max-width: 1000px;
}

.icony {
    transition: opacity 0.5s ease-in-out;
}

.icony:hover {
    opacity: .5;
}

/* CSS FOR GRAPHS */
.graphics-wrapper {
    max-width: 800px;
    width: 100%;
    /* padding-left: 5px;
    padding-right: 5px; */
}

.chart-wrapper {
    max-width: 800px;
    width: 100%;
    padding: 5px;
}

.chart-wrapper img {
    max-width: 800px;
}

.links {
    color: #326891;
    transition: color 0.5s ease-in-out;
}

.links:hover {
    color: #76818a;
}

.hr-fancy { 
    position: relative; 
    top: 20px; 
    border: none; 
    height: 3px; 
    background: #526B44; 
    margin-bottom: 50px; 
} 

.left-right-padding {
    padding-left: 20px;
    padding-right: 20px;
}

#preload {

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


  /* TEXT MEDIA QUERIES */
  @media screen and (min-width: 982px) {
    p {
      font-size: 1rem;
      line-height: 1.6rem;
    }
  }
  @media screen and (max-width: 768px) {
    p {
      font-size: 16px;
      line-height: 1.5rem;
    }
  }
  @media screen and (max-width: 480px) {
    p {
      font-size: 16px;
      line-height: 1.4rem;
    }
  }
  
  @media screen and (max-width: 480px) {
     .small-mobile {
      font-size: 18px;
      line-height: 1.4rem;
    }
  }

  

 

  @media screen and (max-width: 480px) {
    div .content-wrapper-headings {
        padding-top: 5px;
        padding-bottom: 5px;
   }
 }

 @media screen and (max-width: 992px) {
    .icon-group {
    margin-top: -10px;
    margin-bottom: -10px;
}
}

@media screen and (max-width: 480px) {
    .first-content {
        padding-top: 5px;
   }
 }