.image-wrapper img {
    max-width: 100%!important;
    /* margin: -50px; */
    margin: auto 0!important;
    padding: auto 0!important;
    /* padding-left: -50px!important; */
}
.no-margin img {
    max-width: 100%!important;
    height: auto;
    /* margin: -30px; */
    margin: auto 0!important;
    padding: auto 0!important;
    background-size: cover;
    /* padding-left: -50px!important; */
}
.chart-wrapper {
    width: 100%;
}